.createToDo{
    place-self: flex-end;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    margin-right: 2rem;
    font-size: 4rem;
    background-color: #9aa4b5;
    color: white;
    cursor: pointer;
    position: absolute;

    transform: rotate(0);
    transition: .3s ease;
}

.createToDo:hover{
    transform: rotate(270deg);
}